{% extends 'blog/base.html' %}
{% block instruments %}class="active"{% endblock %}
{% load staticfiles %}
{% load tables %}
{% block content %}
    <div class ="list">
    <div class="container-fluid">
        <div class="row">
            {% for instrument in instruments %}
                    <div class="thumbnail">
                        {% if instrument.instrument_status == "Out of Order" %}
                            <h4 class="alert alert-danger" role="alert">
                                <a href="{% url 'instrument_detail' pk=instrument.pk %}">{{ instrument.instrument_type }} {{instrument.ip_address|cut:"130.27.111." }}
                                    {% if instrument.ip_address_2 %}
                                        {{instrument.ip_address_2|cut:"130.27.111." }}
                                    {% endif %}
                                </a>
                                {% if user.is_staff %}
                                    <a href="{% url 'instrument_edit' pk=instrument.pk %}"><span class="glyphicon glyphicon-cog"></span></a>
                                {% endif %}
                            </h4>
                        {% elif instrument.instrument_status == "Available" %}
                            <h4 class="alert alert-success" role="alert">
                                <a href="{% url 'instrument_detail' pk=instrument.pk %}">{{ instrument.instrument_type }} {{instrument.ip_address|cut:"130.27.111." }}
                                    {% if instrument.ip_address_2 %}
                                        {{instrument.ip_address_2|cut:"130.27.111." }}
                                    {% endif %}
                                </a>
                                {% if user.is_staff %}
                                    <a href="{% url 'instrument_edit' pk=instrument.pk %}"><span class="glyphicon glyphicon-cog"></span></a>
                                {% endif %}
                            </h4>
                        {% elif instrument.instrument_status == "In Use" %}
                            <h4 class="alert alert-warning" role="alert">
                                <a href="{% url 'instrument_detail' pk=instrument.pk %}">{{ instrument.instrument_type }} {{instrument.ip_address|cut:"130.27.111." }}
                                    {% if instrument.ip_address_2 %}
                                        {{instrument.ip_address_2|cut:"130.27.111." }}
                                    {% endif %}
                                </a>
                                {% if user.is_staff %}
                                    <a href="{% url 'instrument_edit' pk=instrument.pk %}"><span class="glyphicon glyphicon-cog"></span></a>
                                {% endif %}
                            </h4>
                        {% endif %}

                        {% if instrument.instrument_status == "Available" %}
                            <img src="{{instrument.instrument_image.url}}" alt="Not Found"/>
                        {% else %}
                            <!--A loop of all the checklist entries-->
                            <h6>
                                {% for name in  checklists|waitlist:instrument %}
                                <li> <a href="{% url 'user_message' pk=name.user.pk %}"> {{name.display_name}}
                                    <!--Checks if wait list user is the current owner and has a ownership date-->
                                    {% if name.user == instrument.instrument_current_owner and name.ownership_date %}
                                        {{ name.ownership_date|elapsed_time_calculator }}
                                    {% endif %}
                                </a></li>
                                {% endfor %}
                            </h6>
                        {% endif %}

                        {% if instrument.instrument_current_owner == user and instrument.instrument_connection == True %}
                            <h5>
                                <a href="{% url 'instrument_close_connection' pk=instrument.pk %}" class="btn btn-default role="button">Ready to test</a>
                                <span><a href="{% url 'release_detail' pk=instrument.pk %}" class="btn btn-default" role="button">Leave Waitlist</a></span>
                            </h5>
                        {% elif instrument.instrument_current_owner == user and instrument.instrument_connection == False %}
                            <h5>
                                <a href="{% url 'instrument_open_connection' pk=instrument.pk %}" class="btn btn-default role="button">I'm done testing!</a>
                            </h5>
                        {% else %}
                            <h5>
                                <a href="{% url 'checkout_detail' pk=instrument.pk %}" class="btn btn-default role="button">Join Waitlist</a>
                                <span><a href="{% url 'release_detail' pk=instrument.pk %}" class="btn btn-default" role="button">Leave Waitlist</a></span>
                            </h5>
                        {% endif %}

                    </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}