{% load staticfiles %}
<html>
    <head>
        <title>RAM</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div class="register-page">
            <div class="register-elements">
                <h1>Register:</h1>
                <form id="user_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}

                    <!-- Provide a button to click to submit the form. -->
                    <input class="btn btn-default btn-lg" type="submit" name="submit" value="Register" />
                </form>
            </div>
        </div>
    </body>
